@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, .montserrat {
    font-family: 'Montserrat', sans-serif;
}

span {
    font-family: inherit;
    font-weight: inherit;
}

.bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}